version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: ziad-frontend
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=https://api.booksummarizer.net
      -  Public_Key=tZVWQLSJ-PklgLqI6
      -  Service_ID=service_xrl03tf
      -  Template_ID=template_246bq3a
    ports:
      - "3000:3000"
    networks:
      - app-network

networks:
  app-network:
    external: true
    name: book-sum-ai_app-network